[project]
	description = OneRepo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/patidarvinod
[access "refs/for/refs/*"]
	read = group user/patidarvinod
	push = group user/patidarvinod
	label-Code-Review = -2..+2 group user/patidarvinod
	label-Verified = -1..+1 group user/patidarvinod
	rebase = group user/patidarvinod
	removeReviewer = group user/patidarvinod
	submit = group user/patidarvinod
[access "refs/heads/*"]
	read = group user/patidarvinod
	create = group user/patidarvinod
	push = +force group user/patidarvinod
	pushMerge = group user/patidarvinod
[access "refs/tags/*"]
	push = +force group user/patidarvinod
	pushTag = group user/patidarvinod
	pushSignedTag = group user/patidarvinod
